# Your Tonic Ephemeral API Key
EPHEMERAL_API_KEY=""

# Your Fabricate API key
FABRICATE_API_KEY=""

# Uncomment this if self-hosting
# FABRICATE_API_URL="https://my.fabricate.host/api/v1"

# The name of the workspace in which the database resides
FABRICATE_WORKSPACE=""

# The name of a Fabricate database to load
FABRICATE_DATABASE=""

