# Copy this file to .env and fill in the variables below

# The name of the Fabricate workspace containing the database you want to generate
FABRICATE_WORKSPACE=

# The name of your fabricate database you want to generate
FABRICATE_DATABASE=

# Your Fabricate API key
FABRICATE_API_KEY=

# Optional, provide this when self-hosting.
# FABRICATE_API_URL="https://my.fabricate.hostname/api/v1"
